* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    color: hsl(217, 12%, 63%);;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: hsl(216, 12%, 8%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 350px;
    height: 372px;
    gap: 1.2rem;
    padding: 1.5rem;
    /* background: linear-gradient(to bottom, hsl(213, 19%, 18%), hsl(216, 12%, 8%)) !important; */
    background: linear-gradient(to bottom, hsl(212, 19%, 15%),hsl(207, 18%, 10%));
    border-radius: 1rem;
    margin-bottom: 2em;
}

h1 {
    color: white;
}

p,span {
    font-size: 15px;
    font-weight: 400;
    color: hsl(217, 12%, 63%);
}


.rating  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.svg {
    width: fit-content;
    padding-top: 0 !important;
}
.svg:hover{
    background-color: hsl(213, 19%, 18%) !important;
}

.circle {
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    cursor: pointer;
}



.circle:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.circle:active {
    background-color: hsl(216, 12%, 54%) !important;
    color: white;
}
.svg:active{
    background-color: hsl(213, 19%, 18%) !important;
}

.btn {
    border-radius: 1rem;
    background-color: hsl(25, 97%, 53%);
    text-transform: uppercase;
    font-family: 'Overpass', sans-serif;
    color: white;
    height: 40px;
    align-content: center;
    align-items: center;
    cursor: pointer;
    letter-spacing: 2px;
}

.btn:hover {
    color: hsl(25, 97%, 53%);
    background-color: white;
}


.b {
    display: none;
    text-align: center;
    align-items: center;
}

.rate {
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    padding: 3px 10px 0 10px;
    display: flex;
    border-radius: 1rem;
}

#setRating {
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
}